html, body {
    margin: 0;
    padding: 0;
  }

  header {
    background-color: navy;
    position: fixed;
    display: block;
    width: 100%;
    z-index:2;
  }

  nav {
    margin: 0;
    padding: 20px 0;
  }

  nav li {
    color: red;
    font-family: 'Syne Mono', monospace;
    font-weight: 600;
    font-size: 12px;
    display: inline-block;
    width: 100px;
  }

  main {
    text-align: center;
    position: relative;
    top: 80px;
  }

  main h1 {
    color: navy;
    font-family: 'Syne Mono', monospace;
    font-weight: 600;
    font-size: 70px;
    margin-top: 0px;
    padding-top: 80px;
    margin-bottom: 80px;
    text-transform: uppercase;
  }

  footer {
    background-color: navy;
    color: red;
    padding: 30px 0;
    position: fixed;
    bottom: 0px;
    width: 100%;
  }

  footer p {
    font-family: 'Syne Mono', monospace;
    text-transform: uppercase;
    font-size: 11px;
  }

  .container {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    text-align: center;
  }

  .woodson {
    height: 800px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRn1Y_Ez9ZZ4cyaVOX0ax8r5NIDXUtXN1HWJMka2TUMIf5728c%3Ahttps%3A%2F%2Farchinect.imgix.net%2Fuploads%2Fz1%2Fz1q04hgvnocr2ru6.jpg%3Ffit%3Dcrop%26auto%3Dcompress%252Cformat%26w%3D615&usqp=CAU");
    background-size: cover;
  }

  .button-main {
    background-color: navy;
    color: red;
    font-family: 'Syne Mono', monospace;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1.3px;
    padding: 16px 40px;
    text-decoration: none;
    text-transform: uppercase;
  }

  .button-secondary {
    font-family: 'Syne Mono', monospace;
    font-weight: 600;
    font-size: 10px;
    letter-spacing: 1.3px;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .supporting {
    padding-top: 80px;
    padding-bottom: 100px;
    top: 80px;
    position: relative;
  }

  .supporting .col {
    font-family: 'Syne Mono', monospace;
    text-align: center;
    display: inline-block;
    height: 200px;
    width:  200px;
  }

  .supporting img {
    height: 32px;
  }

  .supporting h2 {
    font-weight: 600;
    font-size: 23px;
    text-transform: uppercase;
  }

  .supporting p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding: 0 20px;
    margin-bottom: 20px;
  }

  .supporting a {
    background-color: white;
    color: #333333;
    font-family: 'Syne Mono', monospace;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1.3px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #333333;
  }
